.container__contact {
    display: grid;
    justify-content: center;
    margin: 4.5rem auto;

}

.contact {
    background-color: var(--carbo-color-green);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    width: 18%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container__map {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 0px 3px 8px 2px;
}

.form-react {
	width: 70%;
	margin: 0 auto;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: auto;
}

.contact__me__form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.form-control- {
	display: grid;
	grid-template-columns: auto auto auto
}
.form-control {
	position: relative;
	top: 0;
	left: 0;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0.9rem;
	/*border: 1px solid var(--body-color);*/
	border: 1px solid var(--carbo-color-green);
	border-radius: 0.75rem;
}

.form-control label {
	font-size: 13px;
	position: absolute;
	top: -10px;
	left: 1rem;
	background-color: var(--body-color);
	padding-left: .5rem;
	padding-right: .5rem;
	color: var(--carbo-color-green);
}

.form-control input {
	outline: none;
	border: 0;
	border-bottom: 1px solid gray;
	opacity: 0.5;
	padding-bottom: 2px;
	padding-top: 2px;
	font-size: 15px;
}

.form-control small {
	margin-top: 0.5rem;
	font-size: 12px;
	background: red;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	color: transparent; 
}

.form-control-button input{
	margin: .5rem;
	padding: .5rem 2rem; 
	background: var(--carbo-color-green);; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px; 
	color: white;
	font-weight: bold
}

.content {
	border: 1px solid var(--carbo-color-green);;
}

.content label {
	color: var(--carbo-color-green);
}

.form-area {
	height: 10rem;
	resize: none;
	border: 0;
	outline: none;
	opacity: 0.5;
}


.contact__cont {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.carb__contact {
    text-align: left;
    padding-bottom: 2rem;
}

.carb__contact h1 {
    color: var(--carbo-color-green);
    text-transform: capitalize;
    font-size: 28px;
}

.carb__contact p {
    color: var(--carbo-color-blue);
    font-size: 15px;
}

.carb__contact a {
    color: var(--carbo-color-green);
    font-size: 16px;
    font-weight: bold;
}

/*================ BREAKPOINTS ================*/
/*For large devices */
@media screen and (max-width: 992px){
    .about {
        width: 20%;
        font-size: 0.9rem;
    }

    .about__me {
        width: 20%;
        font-size: 0.9rem;
    }

    .about__card {
        width: 80%;
    }

    .description__about {
        width: 80%;
    }
		.form-control- {
			grid-template-columns: 100%;
		}

		.form-react {
			width: 100%;
		}
		.form-control {
			width: 100%;
	}
	.form-control label {
		font-size: 10px;
		
	}
	.content label {
		font-size: 10px
	}

}

/*================ BREAKPOINTS ================*/
/*For large devices */
@media screen and (max-width: 992px){
    .container__contact {
        width: 90%;
        margin: 4.5rem auto;
    }
    .contact {
        font-size: 12px;
    }
    
    .container__map {
        width: 90%;
    }

    .container__map iframe{
        width: 100%;
    }

    .contact__cont {
        width: 90%;
    }    

    .carb__contact h1 {
        font-size: 25px;
    }
}

/*For medium devices */
@media screen and (max-width: 800px){
    .container__contact {
        margin: 1.5rem auto;
    }

    .contact {
        font-size: 11px;
        width: 30%;

    }
    
    .container__map {
        width: 100%;
        margin: 15px auto;
    }

   

    .carb__contact h1 {
        font-size: 20px;
    }

    .contact__cont {
        grid-template-columns: auto;
    }
}


/*For small devices */
@media screen and (max-width: 400px){
    .contact {
        font-size: 10px;
        width: 35%;
    }

    .contact__form {
        width: 300px;
    }

 

    .carb__contact h1 {
        font-size: 20px;
    }

    .carb__contact p {
        font-size: 13px;
    }
    
    .carb__contact a {
        font-size: 14px;
    }

}