 .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 85% 15%;
    z-index: 100;
    background-color: var(--body-color);
    box-shadow: 0px 0px 1px;
   
}


.nav {
    /* height: calc(var(--header-height) + 1.5rem); */
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
}

.idioms {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* margin: 15px; */
}

.idioms img {
  width:30px;
  height:25px;
  margin-right: 1rem;
}

.nav__logo,
.nav__toggle {
    color: var(--carbo-color-blue);
    font-weight: var(--font-medium);
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    color: var(--carbo-color-blue);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    transition: .3s;
}

select {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  width: 100px;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid var(--carbo-color-green);
  border-radius: 5px;
  background-image: url(../../assets/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 78px 5px;
  outline: none;
}


select::-ms-expand{
  display: none;
}

select:hover{
  border: 1px solid var(--carbo-color-blue);
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

.nav__link.active {
  color:var(--carbo-color-green);
  transition: all 0.5s;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

/*================ BREAKPOINTS ================*/
/*For large devices */
@media screen and (max-width: 992px){
    .nav__list {
      column-gap: 1rem;
    }

    select option{
      font-size: 10px;
    }
}


/*For medium devices */
@media screen and (max-width: 800px){
  .header{
    box-sizing: border-box;
    top: initial;
    bottom: 0;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
  }

  .nav {
    /* height: var(--header-height); */
    height: 3rem;
    justify-content: space-between;
  }

  .nav__link {
    text-transform: capitalize;
  }

  .nav__link.active {
    text-decoration-line: none;
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }

  /* Show Menu*/
  .show-menu {
    bottom: 0;

  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1rem;
  }

  .idioms{
    justify-content: center
  }

  select {
    background-image: url(../../assets/up-arrow.svg);
  }

  select option{
    font-size: 10px;
    width: 150px;
    white-space:pre-wrap;
    word-wrap: break-word;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 12rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }

  .nav__close:hover {
    color: grey;
  }

  .nav__toggle {
    
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}

@media screen and (max-width: 550px){
  .header{
    box-sizing: border-box;
    top: initial;
    bottom: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
  }

  select {
    font-size: 15px;
    letter-spacing: 0px;
    padding: 2px 7px;
    width: 100px;
  }
}

/*For small devices */
@media screen and (max-width: 350px){
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}